@mixin flex($direction: row, $justify: center, $align: center, $gap: 1rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  border: 0.01rem solid transparent;
  border-bottom: 0.01rem solid $color-black;
  border-radius: 0.04rem;
  background-color: transparent;
  font-weight: 325;
  font-size: 1.4rem;
  line-height: 1.57;
  color: $color-black;
  transition: all 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      border: 0.01rem solid $color-black;
      // background: rgba(202, 202, 202, 0.5)
    }
  }

  &:active,
  &:focus,
  &:focus-within {
    border: 0.01rem #C50177 solid;
  }
}
